<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/network.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        .header-nav {
            float: right;
            line-height: 60px;
        }

        .header-nav .el-link {
            margin-left: 20px;
        }

        .el-header {
            box-shadow: 0px 0px 10px #f7f2f2;
        }

        .el-footer {
            line-height: 60px;
            color: #666;
            font-size: 13px;
        }

        .el-menu {
            border-right: none;
        }

        .el-aside {
            height: calc(100vh - 60px);
            border-right: 1px solid #e6e6e6;
            background-color: #545c64;
        }

        .el-main {
            height: calc(100vh - 60px - 60px);
        }

        .logo {
            line-height: 60px;
        }
    </style>
    <title>冯文昌</title>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-row>
                    <el-col :span="6">
                        <div class="logo">
                            GW1 GateWay数据管理软件
                        </div>

                    </el-col>
                    <el-col :span="18">
                        <div class="header-nav">
                            <el-link :underline="false" href="#/about">关于</el-link>
                            <el-link :underline="false">设置</el-link>
                            <el-link :underline="false">帮助</el-link>
                        </div>

                    </el-col>
                </el-row>

            </el-header>
            <el-container class="main">
                <el-aside width="220px">
                    <el-menu :router="isUseIndex" @open="handleOpen" background-color="#545c64" text-color="#fff"
                        @close="handleClose">
                        <div v-for="item in menu" :key="item.page">
                            <el-submenu v-if="item.children" :index="item.page">
                                <template slot="title">
                                    <i class="el-icon-location"></i>
                                    <span>{{item.label}}</span>
                                </template>
                                <el-menu-item :index="item1.page" v-for="item1 in item.children" :key="item1.page"
                                    @click="setPage(item1.page)">{{item1.label}}</el-menu-item>
                            </el-submenu>
                            <el-menu-item v-else :index="item.page" @click="setPage(item.page)">
                                <i class="el-icon-menu"></i>
                                <span>{{item.label}}</span>
                            </el-menu-item>
                        </div>
                        <!-- <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-location"></i>
                                <span>信息显示</span>
                            </template>
                            <el-menu-item index="patient">病人信息</el-menu-item>
                            <el-menu-item index="1-2">设备信息</el-menu-item>
                            <el-menu-item index="log">日志信息</el-menu-item>
                            <el-menu-item index="log">预约记录</el-menu-item>
                        </el-submenu>
                        <el-menu-item index="2">
                            <i class="el-icon-menu"></i>
                            <span slot="title">导航二</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-document"></i>
                            <span slot="title">导航三</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-setting"></i>
                            <span slot="title">导航四</span>
                        </el-menu-item> -->
                    </el-menu>
                </el-aside>
                <el-container>
                    <el-main>
                        <router-view></router-view>
                    </el-main>
                    <el-footer>西安理邦仪器提供技术支持</el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./component/log.js"></script>
    <script src="./component/patient.js"></script>
    <script src="./component/equipment.js"></script>
    <script src="./component/about.js"></script>
    <script src="./component/network.js"></script>
    <script src="./component/action.js"></script>
    <script src="./component/asyncComponent.js"></script>
    <script src="./component/acount.js"></script>
    <script src="./index.js"></script>
</body>

</html>